:root {
    --a-color-primary: #2547bf;
    --a-color-primary-darkened: #1e3999;
    --a-color-sidebar: #2547bf;
    --a-color-dark: #201b3a;
    --a-color-warning-light: #ECCE48;
    --a-color-warning: #ffc107;
    --a-color-warning-dark: #cc9a06;
    --a-color-danger: #cd1c3c;
    --a-color-danger-darkened: #a41630;
    --a-color-success: #04724d;
    --a-color-success-light: #9AC58F;
    --a-color-grey-darkened: #585662;
    --a-color-grey: #6e6c7b;
    --a-color-light-grey: #a6a5ad;
    --a-color-lightest-grey: #e7e5f0;
    --a-color-grey-40: rgb(110, 108, 123, 0.4);
    --a-color-light: #f5f5f5;
    --a-color-white: #fff;
    --a-color-background: var(--a-color-light);
    --a-color-hover: rgba(54, 116, 182, 0.1);
    --a-box-shadow: 0px 2px 10px rgba(0, 39, 77, 0.08);
    /* Bootstrap colors */
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: var(--a-color-white);
    --bs-gray: var(--a-color-grey);
    --bs-gray-dark: #343a40;
    --bs-primary: var(--a-color-primary);
    --bs-secondary: #6c757d;
    --bs-success: var(--a-color-success);
    --bs-info: #0dcaf0;
    --bs-warning: var(--a-color-warning);
    --bs-danger: var(--a-color-danger);
    --bs-light: var(--a-color-light);
    --bs-dark: var(--a-color-dark);
    --bs-font-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    /*
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    */
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.content-background {
    background-color: var(--a-color-white);
}

/* Bootstrap Overrides */
.btn-primary {
    --bs-btn-bg: var(--a-color-primary);
    --bs-btn-border-color: var(--a-color-primary);
    --bs-btn-hover-bg: var(--a-color-primary-darkened);
    --bs-btn-hover-border-color: var(--a-color-primary-darkened);
    --bs-btn-active-bg: var(--a-color-primary-darkened);
    --bs-btn-active-border-color: var(--a-color-primary-darkened);
    --bs-btn-disabled-bg: var(--a-color-primary);
    --bs-btn-disabled-border-color: var(--a-color-primary);
}

.btn-outline-primary {
    --bs-btn-color: var(--a-color-primary);
    --bs-btn-border-color: var(--a-color-primary);
    --bs-btn-hover-bg: var(--a-color-primary);
    --bs-btn-hover-border-color: var(--a-color-primary);
    --bs-btn-active-bg: var(--a-color-primary);
    --bs-btn-active-border-color: var(--a-color-primary);
    --bs-btn-disabled-color: var(--a-color-primary);
    --bs-btn-disabled-border-color: var(--a-color-primary);
}

.btn-success {
    --bs-btn-bg: var(--a-color-primary);
    --bs-btn-border-color: var(--a-color-primary);
    --bs-btn-hover-bg: var(--a-color-primary-darkened);
    --bs-btn-hover-border-color: var(--a-color-primary-darkened);
    --bs-btn-focus-shadow-rgb: rgb(37, 71, 191);
    --bs-btn-active-bg: var(--a-color-primary-darkened);
    --bs-btn-active-border-color: var(--a-color-primary-darkened);
    --bs-btn-disabled-bg: var(--a-color-primary);
    --bs-btn-disabled-border-color: var(--a-color-primary);
}

.btn-danger {
    --bs-btn-bg: var(--a-color-danger);
    --bs-btn-border-color: var(--a-color-danger);
    --bs-btn-hover-bg: var(--a-color-danger-darkened);
    --bs-btn-hover-border-color: var(--a-color-danger-darkened);
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-bg: var(--a-color-danger-darkened);
    --bs-btn-active-border-color: var(--a-color-danger-darkened);
    --bs-btn-disabled-bg: var(--a-color-danger);
    --bs-btn-disabled-border-color: var(--a-color-danger);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .35s;
}

  /* responsive tables */
  table { border: 1px solid #ccc; width: 100%; margin: 0; padding: 0; border-collapse: collapse; border-spacing: 0; }
  table tr { border: 1px solid #ddd; padding: 5px; }
  table th, table td { padding: 10px; text-align: center; }
  table th { text-transform: uppercase; font-size: 14px; letter-spacing: 1px; }
  table tr:hover { background-color: var(--ion-color-light);}

  @media screen and (max-width: 600px) {
    table { border: 0; }
    table thead { display: none; }
    table tr { margin-bottom: 10px; display: block; border-bottom: 2px solid #ddd; }
    table td { display: block; text-align: right; font-size: 13px; border-bottom: 1px dotted #ccc; }
    table td:last-child { border-bottom: 0; }
    table td:before { content: attr(data-label); float: left; text-transform: uppercase; font-weight: bold; }
  }
